body {
  width: 500px;
}

.header {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header__logo {
  margin-right: .8rem;
  width: 24px;
}

.header__title {
  color: var(--color-white);
  font-size: .9rem;
  text-transform: uppercase;
}

.header__links {
  text-align: right;
  flex: 1 0;
}

.content {
  opacity: .5;
}

.content.visible {
  opacity: 1;
}

#input-definitions {
  height: 300px;
}

#input-debug {
  height: 300px;
}
